div {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 200px;
    margin-top: 200px;
    /* animation: anim 1s ease-in-out .5s infinite; */
    transition: 1s ease-in;
}

/* @keyframes anim {
    0% {
        width: 50px;
        background-color: blueviolet;
    }

    50% {
        width: 150px;
        background-color: aqua;
    }

    100% {
        width: 250px;
        background-color: coral;
    }
} */

/* Normal animations */
div:hover {
    transform: scale(1.3) rotate(45deg) translate(200px);
}